//! **************************************************************************
// Written by: Map M.81d on Mon Dec 21 17:48:59 2015
//! **************************************************************************

SCHEMATIC START;
COMP "SERVO_CLK_OUT_DEBUG" LOCATE = SITE "C6" LEVEL 1;
COMP "DC" LOCATE = SITE "C9" LEVEL 1;
COMP "RESET" LOCATE = SITE "G12" LEVEL 1;
COMP "SERVO" LOCATE = SITE "B7" LEVEL 1;
COMP "DC_CLK_OUT_DEBUG" LOCATE = SITE "A9" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "ORIENTATION<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "ORIENTATION<1>" LOCATE = SITE "G1" LEVEL 1;
COMP "LEFT_PULSE_PIN" LOCATE = SITE "B2" LEVEL 1;
PIN LEFT_PULSE_PIN_pin<0> = BEL "LEFT_PULSE_PIN" PINNAME PAD;
PIN "LEFT_PULSE_PIN_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "RIGHT_TRIGGER_OUT_PIN" LOCATE = SITE "D12" LEVEL 1;
COMP "LEFT_TRIGGER_OUT_PIN" LOCATE = SITE "B5" LEVEL 1;
COMP "RIGHT_PULSE_PIN" LOCATE = SITE "C12" LEVEL 1;
PIN RIGHT_PULSE_PIN_pin<0> = BEL "RIGHT_PULSE_PIN" PINNAME PAD;
PIN "RIGHT_PULSE_PIN_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

